{% extends 'base.html.twig' %}

{% block title %}Faire un don{% endblock %}

{% block picture_header %}{% endblock %}

{% block body %}
<h2 class="p-3 text-center mb-5">Faire un don</h2>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(form.title, { 'id': 'title-donation'  }) }}
    {{ form_row(form.picture, { 'id': 'donation-pic' }) }}
    {# <label class="custom-file-label" for="donation-pic">Choose file...</label> #}

    {# Affichage formulaire d'ajout d'adresse #}
    <div class="card bg-light mb-4">
        <div class="card-header">
            <h5>Adresse de récupération du don</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                {{app.user.address.number}} {{app.user.address.street1}} <br>         
                {{app.user.address.street2}} <br> 
                {{app.user.address.ZipCode}} {{app.user.address.city}}
            </p>
            <button class="btn btn-link" id="showChangeAdress" >Utiliser une autre adresse </button>
            
        </div>
        <div class="card-body hide-my-form" id="changeAdress" name="newAddress">
            {# {{form_row(form.address)}} #}

            <div class="form-group">
                <label for="number">Numéro </label>
                <input type="text" class="form-control" id="number" name="number" placeholder="Numéro">
            </div>
            <div class="form-group">
                <label for="street1">Nom de la rue*</label>
                <input type="text" class="form-control" id="street1" name="street1" placeholder="Rue, Avenue, Boulevard ... " required>
            </div>
            <div class="form-group">
                <label for="street2">Complément d'adresse</label>
                <input type="text" class="form-control" id="street2" name="street2" placeholder="Complément d'adresse ">
            </div>
            <div class="form-group">
                <label for="zipCode">Code Postal*</label>
                <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Code postal " required>
            </div>
            <div class="form-group">
                <label for="city">Ville*</label>
                <input type="text" class="form-control" id="street2" name="city" placeholder=" Ville " required>
            </div>
                
        </div>
    </div>

    {# Affichage formulaire d'ajout de produit #}
    <div  id='product_list' data-prototype="{{ form_widget(form.products.vars.prototype)|e('html_attr') }}">
            {% for row in form.products %}
            <div class="card bg-light">
                <div class="card-header">
                    <h5>Description du produit</h5>
                </div>
                <div class="card-body">
                    {{ form_row(row.name, { "id": "productName"}) }}
                    {{ form_row(row.quantity, { "id": "productQuantity"}) }}
                    {{ form_row(row.category, { "id": "productCategory" }) }}
                    {{ form_row(row.expiry_date, {"id": "productDate"}) }}
                    {{ form_row(row.description, {"id": "productDescription"} ) }}
                    {# <button class="btn btn-secondary" id="btn-add-product">Enregistrer un produit</button> #}
                </div>
            </div>
        {% endfor %}
    </div>
    
{{ form_end(form) }}

{% endblock %}


{% block javascripts %}
    <script src="{{asset('js/file-name.js')}}"></script>
{% endblock %}