{% extends 'base.html.twig' %}

{% block title %}Faire un don{% endblock %}

{% block body %}
<h2 class="bg-secondary p-3 text-center text-white rounded-bottom">Faire un don</h2>

<form class="my-4">

    <div class="my-5 products-list">
        <h3>Liste des produits</h3>
        <ul class="list-group">
        </ul>
    </div>


    {{ form_start(formDon) }}

        {{ form_row(formDon.title, { 'id': 'title-donation' }) }}
        {{ form_row(formDon.picture, { 'id': 'donation-pic' }) }}
        
        <h5>Adresse de récupération du don</h5>
        <div class="col-12">
            {% for row in formDon.address %}
                {{form_row(row)}}
            {% endfor %}
        </div>


        <div id="new-product-form">
            {# Zone affichage formulaire #}
        </div>

        {# Affichage du bouton d'ajout de produit au don #}
        <div id='btn-zone'>

        </div>

        <button class="btn btn-secondary float-right publish-don" type="submit">Publier le don</button>

        <template id="form-template">
            <h5>Adresse de récupération du don</h5>
            <div class="col-12">
                {% for row in formDon.products %}
                    {{ form_row(row.name, { "id": "productName" }) }}
                    {{ form_row(row.quantity, { "id": "productQuantity"}) }}
                    {{ form_row(row.category, { "id": "productCategory" }) }}
                    <div class="d-flex flex-direction-row">
                        {{ form_row(row.expiry_date.day, {"id": "productDateDay"}) }}
                        {{ form_row(row.expiry_date.month, {"id": "productDateMonth"}) }}
                        {{ form_row(row.expiry_date.year, {"id": "productDateYear"}) }}
                    </div>
                    {{ form_row(row.description, {"id": "productDescription"} ) }}
                    <button class="btn btn-secondary" id="btn-add-product">Enregistrer un produit</button>
                {% endfor %}
            </div>
        </template>
    {{ form_end(formDon) }}

{% endblock %}
