{% extends 'base.html.twig' %}

{% block title %}Détail du don{% endblock %}

{% block body %}
    {# {{dump(donation)}} #}
    <h2 class="text-center">{{donation.title}} </h2>

    <section id="donation-detail-head" class="row">
        <img id="pic-donation" src="{{donation.picture}} " class="img-fluid" style="max-width: 50%;" alt="Responsive image">

        <div class="col-6">
            <div id="select-donation">
                <form action="{{path('donation_select', {'id': donation.id})}} " method="POST">
                    <label for="select">
                        Réserver ce don :
                    </label>
                    <button id="select">
                        <i class="far fa-check-circle"></i>
                    </button>
                </form> 
                {# <i class="fas fa-check-circle"></i> actif si user se positionne sur le don #}
            
            </div>
            <h3> Informations sur le donateur</h3>
            {# {{ dump(user)}} #}
            <p>
                {{ user.company}}
            </p>
            <p>
                Contact : {{ user.firstname}} {{ user.lastname}} <br>
                Téléphone : {{ user.phoneNumber}}
                e-mail : {{ user.email}}
                Note : {{ user.rating}} 
            </p>
        </div>
    </section>

    <section id="donation-produits">
        <h3> Liste des produits :</h3>

        <div class="table-responsive-sm">

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Date de péremption</th>
                    </tr>
                </thead>
                {% for product in donation.products %}
                {# {{dump(product)}} #}
                    <tr>
                        <td scope="row">{{product.name}} </td>
                        <td>{{product.description}}</td>
                        <td>{{product.quantity}}</td>
                        <td>{{product.expiryDate|date("d/m/Y")}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <section id ="localisation">
        {{ dump(donation.address.number)}}
        <div class="card mb-3">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Localisation du don </h5>
                <p class="card-text">  
                    {{ donation.address.number}} {{donation.address.street}}
                </p>
                <p class="card-text">  
                    {{ donation.address.zipCode}} {{donation.address.city}}
                </p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </section>
{% endblock %}
