{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block picture_header %}{% endblock %}

{% block body %}

{# {{ dump(app.request.headers.get('referer'))}}
{{dump(app.request.attributes.get("_route"))}} #}
{# {{dump(app.request.query.get("connexion"))}} #}
{% if (app.request.query.get("connexion")) != "direct" and error == null %}
<div class="alert alert-warning"> 
        Vous devez être connecté pour accéder au détail des dons
    </div>  
{% endif %}

    <form method="post" class="big-content">
        {% if error != null %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="text-center">
        <h1 class="h3 mb-3 font-weight-normal text-center m-4">Connexion</h1>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2 col-10 offset-1" placeholder="Email" required autofocus>
        
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control col-10 offset-1 mb-4" placeholder="Mot de passe" required>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        <button class="btn btn-lg btn-primary mb-3" type="submit">
            Se Connecter
        </button>
        </div>
    </form>

{% endblock %}
