<div class="col-md-8 offset-md-2">
    <h3 id="modif-profil" class="font-italic">Modifier le profil de {{user.firstname}} {{user.lastname}} </h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn-success btn">{{ button_label|default('Enregistrer les modifications') }}</button>
    {{ form_end(form) }}
</div>