{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}

{% block body %}
    <h2 class="text-center m-4">Mon Profil</h2>
    
    {# Informations du User #}
    <div class="container mb-4">
        <div class="border border-dark rounded col-10 m-auto bg-dark text-white p-2 text-center">
            <h4 class="">{{ user.firstname }} {{ user.lastname }}</h4>
            <h4 class="">Entreprise : {{ user.company }} - Téléphone : {{ user.phoneNumber }}</h4>
            <h4 class="">{{ user.email }}</h4>
            <h4 class="">Note des membres : {{ user.rating }} / 5</h4>
            <h4 class="">Points C02 : {{ user.points }}</h4>
            
            <h5 class=""><a href="#modif-profil" class="text-info stretched-link">Modifer mon profil</a></h5>
        </div>
    </div>
    
    {# Dons reçus ou effectués en fonction du rôle du user connecté ! POUR TEST ! #}
    <div class="text-center container ">
        {% if is_granted('ROLE_GIVER') %}
        <h3 id="#dons" class="font-italic text-center">Dons Effectués</h3>
        <button type="button" class="btn-success rounded border p-3 mt-2">Nouveau don</button>
        {% elseif is_granted('ROLE_ASSOC') %}
        <h3 id="#dons" class="font-italic text-center">Dons Reçus</h3>
        {% endif %}
        <div class="d-flex flex-wrap mt-4">
            {% for donation in user.donations %}
            <div class="col-5 m-4 p-5 mx-auto border rounded">
            <h4 class="font-italic">{{ donation.title }}</h4>
            <img class="border rounded img-fluid" style="max-width: 70%;" src="{{ donation.picture }}" alt=""></img>
            </div>
            {% endfor %}
        </div>
    </div>

    {# Formulaire pour modifier ses données de profil #}
    {{ include('user/_form.html.twig') }}

    <a href="#">Haut de la page</a>
{% endblock %}
