{% extends 'base.html.twig' %}

{% block title %}Page de profil{% endblock %}


{% block body %}
    <h2 class="text-center">Mon Profil</h2>

    {# Informations du User #}
    <div class="container mb-4">
        <div class="profil-bg rounded col-sm-10 col-12 m-auto text-dark p-2 text-center">
            <h5 class="">{{ user.firstname }} {{ user.lastname }}</h5>
            <h5 class="">Entreprise : {{ user.company }}</h5>
            <h5>Téléphone : {{ user.phoneNumber }}</h5>
            <h5 class="">{{ user.email }}</h5>
            {% if is_granted('ROLE_GIVER') %}
            <div class="rating rating2 m-auto">
                <div class="order-1 mr-4 p-2">
                <!--
                --><input name="stars" value="5" id="e5" type="radio" {{ (user.rating) == (5) ? 'checked' }}><label for="e5">★</label><!--
                --><input name="stars" value="4" id="e4" type="radio" {{ (user.rating) == (4) ? 'checked' }}><label for="e4">★</label><!--
                --><input name="stars" value="3" id="e3" type="radio" {{ (user.rating) == (3) ? 'checked' }}><label for="e3">★</label><!--
                --><input name="stars" value="2" id="e2" type="radio" {{ (user.rating) == (2) ? 'checked' }}><label for="e2">★</label><!--
                --><input name="stars" value="1" id="e1" type="radio" {{ (user.rating) == (1) ? 'checked' }}><label for="e1">★</label><!--
                --> 
                </div>
            </div>
            <h5 class="mb-3">Niveau : {{ user.reward.title }}</h5>
            <img src="{{ asset('pictures/' ~ (user.reward.picture))}} " alt="reward niveau {{user.reward.code}}" class="img-fluid mb-3" >
            {% endif %}
            
            <h5 class=""><a href="#modif-profil" class="text-dark stretched-link">Modifer mon profil</a></h5>
        </div>
    </div>
    
    {# Dons reçus ou effectués en fonction du rôle du user connecté !#}
    <div class="text-center container">

{# Si on est connecté en tant que DONATEUR #}
        {% if is_granted('ROLE_GIVER') %}

        {# Dons proposés #}
        <h2 id="#dons" class="font-italic text-center">Dons proposés <img src="{{ asset('pictures/status_dispo.png') }}"></h2> 
        <button type="button" class="btn-success rounded border p-3 mt-2"><a href="{{path('donation_new')}}" class="text-white">Nouveau don</a></button>
        <div class="d-flex flex-wrap mt-4 border-bottom">
            {% for donation in donations if donation.status.name == "Dispo" %}
                {% if loop.index <= 6 %}
                    <div class="col-sm-5 col-10 m-4 p-3 mx-auto border rounded">
                    <h4 class="font-italic">
                        {{ donation.title }}
                    </h4>
                    <img class="col-12 rounded img-fluid" style="max-width: 80%;" src="{{ asset('uploads/pictures/' ~ donation.picture) }}"></img>
                    <button type="button" class="btn-success rounded border p-2 mt-2"><a href="{{path('donation_show', {'id': donation.id })}}" class="text-white">Plus d'infos</a></button>            
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {# Dons en attente de validation #}
        <h2 id="manage-dons" class="font-italic text-center mt-4">Dons en attente de validation <img src="{{ asset('pictures/status_reserve.png') }}"></h2>
            {% include "user/manage_donations.html.twig" %}

        {# Dons Donnés #}
        <h2 class="font-italic text-center mt-4">Dons effectués <img src="{{ asset('pictures/status_donne.png') }}"></h2>
        <div class="d-flex flex-wrap mt-4 border-bottom">
            {% for donation in donations if donation.status.name == "Donné" %}
                {% if loop.index <= 6 %}
                    <div class="col-sm-5 col-10 m-4 p-3 mx-auto border rounded">
                    <h4 class="font-italic">
                        {{ donation.title }}
                    </h4>
                    <img class="col-12 rounded img-fluid" style="max-width: 80%;" src="{{ asset('uploads/pictures/' ~ donation.picture) }}"></img>
                    <button type="button" class="btn-success rounded border p-2 mt-2"><a href="{{path('donation_show', {'id': donation.id })}}" class="text-white">Plus d'infos</a></button>            
                    </div>
                {% endif %}
            {% endfor %}
        </div>

{# Si on est connecté en tant qu'ASSOCIATION #}
        {% elseif is_granted('ROLE_ASSOC') %}

        {# Dons réservés #}
        <h2 class="font-italic text-center">Dons réservés <img src="{{ asset('pictures/status_reserve.png') }}"></h2>
        <div class="d-flex flex-wrap mt-4">
            {% for donation in donations if donation.status.name == "Réservé" %}
                {% if loop.index <= 6 %} 
                    <div class="col-sm-5 col-10 m-4 p-3 mx-auto border rounded">
                    <h4 class="font-italic">
                        {{ donation.title }}
                    </h4>
                    <img class="col-12 rounded img-fluid" style="max-width: 80%;" src="{{ asset('uploads/pictures/' ~ donation.picture) }}"></img>
                    <button type="button" class="btn-success rounded border p-2 mt-2"><a href="{{path('donation_show', {'id': donation.id })}}" class="text-white">Plus d'infos</a></button>            
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {# Dons Reçus #}
        <h2 class="font-italic text-center">Dons reçus <img src="{{ asset('pictures/status_donne.png') }}"></h2>
        <div class="d-flex flex-wrap mt-4">
            {% for donation in donations if donation.status.name == "Donné" %}
                {% if loop.index <= 6 %}
                    <div class="col-sm-5 col-10 m-4 p-3 mx-auto border rounded">
                    <h4 class="font-italic">
                        {{ donation.title }}
                    </h4>
                    <img class="col-12 rounded img-fluid" style="max-width: 80%;" src="{{ asset('uploads/pictures/' ~ donation.picture) }}"></img>
                    <button type="button" class="btn-success rounded border p-2 mt-2"><a href="{{path('donation_show', {'id': donation.id })}}" class="text-white">Plus d'infos</a></button>            
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        </div>
        {% endif %}
    </div>

    {# Formulaire pour modifier ses données de profil #}
    <h2 id="modif-profil" class="text-center m-4">Modifier mon profil</h2>
    
    {{ include('user/_form-profil.html.twig') }}

    <a href="#">Haut de la page</a>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/accept-refuse.js')}} "> </script>
{% endblock %}
