{% block body %}

    <center><h2>Votre don : {{ donationTitle }} a été réservé</h2></center>

    <p> Bonjour {{ firstName }} {{ lastName }}. Votre don : {{ donationTitle }} a été réservé. Merci de faire le nécessaire, pour que la transaction se confirme.</p>

    <p>Voir le don concerné : http://92.243.9.64/dons/{{ donationId }}</p>

    <p>Pour valider vos réservations : http://92.243.9.64/user/{{ userId}}/manage-donations</p>

    <p> Ce mail vous a été envoyé par O'FoodBank  </p>
    
{% endblock %}
    