{% block body %}

    <center><h2>La réservation pour le don : {{ donationTitle }} a été refusée</h2></center>

    <p> Bonjour {{ firstName }} {{ lastName }}.</p>
    <p> La réservation que vous aviez faite sur le don : {{ donationTitle }} a été refusée par le donateur. Si vous ne comprenez pas pourquoi, n'hésitez pas à contacter directement le donateur dans un premier temps, puis O'FoodBank si le problème n'est pas résolu.</p>

    <p> Voir le don concerné : http://92.243.9.64/dons/{{ donationId }}</p>

    <p> Ce mail vous a été envoyé par O'FoodBank  </p>
    
{% endblock %}
    