{% block body %}

    <center><h2>Le don : {{ donationTitle }} a été réservé</h2></center>

    <p> Ce mail vous a été envoyé par {{ email }}  </p>

    <p> Bonjour {{ firstName }} {{ lastName }}. Le don : {{ donationTitle }} a bien été réservé. Le donateur est averti par mail et va devoir accepter votre réservation pour que la transaction se confirme.</p>

    <p>Voir le don concerné : http://92.243.9.64/dons/{{ donationId }}</p>

    <p> Ce mail vous a été envoyé par O'FoodBank  </p>
    
{% endblock %}
    
