{% block body %}

    <center><h2>La réservation du don : {{ donationTitle }} a bien été annulée</h2></center>

    <p> Bonjour {{ firstName }} {{ lastName }}.</p>
    
    <p> La réservation pour le don : {{ donationTitle }} a bien été annulée.</p>

    <p> Voir le don concerné : http://92.243.9.64/dons/{{ donationId }}</p>

    <p> Ce mail vous a été envoyé par O'FoodBank  </p>
    
{% endblock %}
    